.todoItem {
  position: relative;
  display: flex;
  min-height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #63b4ff;

  & button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.todoCheckbox {
  justify-self: flex-start;
  cursor: pointer;
  height: 10;
  width: 10;
}
