.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.inputContainer {
  position: relative;
}

.todoIcon {
  position: absolute;
  padding-left: 8px;
  margin: auto;
  top: 0;
  bottom: 0;
}

.todoInput {
  min-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0px 30px;
  filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.24));
}

.addButton {
  margin-left: 5px;
  border: 0px solid #ccc;
  border-radius: 50%;
  background-color: #b7ffcc;
  height: 40px;
  width: 40px;
  filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.24));
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  width: 400px;
  padding-inline-start: 0px;
  list-style-type: none;
}
